# `core.menu_item_test_results`
`analytics_prod` | `analytics`

## Column details
* [integer]   `id`
* [character varying] `batch_number`
* [integer]   `menu_item_id`
* [double precision] `thc`
* [double precision] `thca`
* [double precision] `cbd`
* [double precision] `cbda`
* [double precision] `cbn`
* [character varying] `pesticides`
* [double precision] `moisture`
* [double precision] `fungus`
* [timestamp without time zone] `tested_at`
* [timestamp without time zone] `expires_at`
* [timestamp without time zone] `created_at`
* [timestamp without time zone] `updated_at`
* [integer]   `lab_id`
* [boolean]   `mold`
* [boolean]   `mildew`
* [boolean]   `insects`
* [boolean]   `residual_solvents`
* [double precision] `api_version`
* [double precision] `thc_unit_measure`
* [double precision] `thc_a_unit_measure`
* [double precision] `cbd_unit_measure`
* [double precision] `cbd_a_unit_measure`
* [double precision] `cbn_unit_measure`
* [double precision] `total_thc`
* [double precision] `total_cbd`
* [double precision] `total_cbn`
* [character varying] `terpenes`
* [character varying] `cannabinoids`
* [character varying] `pesticides_data`
* [character varying] `microbiological`
* [character varying] `solvents`
* [character varying] `misc_attributes`
* [integer]   `expire_in_days`
* [character varying] `image`

-------------------------------------------------------------------------------
*Do not make edits above this line.*
